// ! Font
$defaultFontSize: 16px;
$defaultFontFamily: 'Istok Web', sans-serif;

// ! colors
$white: #fff;
$black: #000;
$fontColor: #373f41;
$themeColor: #1c2733;
$orange: #fc5130;
$green: #75e6da;
$red: #f41f4e;
